.description_section {
  background-color: #2b2b2b;
  color: white;
  padding: 55px 0;
}

.description_section__wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  line-height: 1.6em;
}

.description_section__wrapper p {
  padding: var(--padding);
}

.description_section__wrapper button {
  background: transparent;
  font-family: inherit;
  border: none;
  color: var(--tbc-main-color);
  font-size: 20px;
  font-weight: bold;
  padding: var(--padding);
  transition: var(--transition);
}
.description_section__wrapper button:hover {
  cursor: pointer;
  color: #706a6a;
}

/* Tableet */
@media screen and (min-width: 768px) {
  .description_section__wrapper {
    font-size: 28px;
  }
}
/* Laptop S */
@media screen and (min-width: 1024px) {
  .description_section__wrapper p,
  .description_section__wrapper button {
    padding: unset;
  }
}
